<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
         connectionString="Data Source=TC;Initial Catalog=MvcMusicStore;Persist Security Info=True;User ID=sa;Password=viewsonic88;Application Name=SimpleDataSample" />
    <add name="MvcMusicStoreDB"
         connectionString="Data Source=TC;Initial Catalog=MvcMusicStore;Persist Security Info=True;User ID=sa;Password=viewsonic88;Application Name=SimpleDataSample" />
  </connectionStrings>
</configuration>

